.form-group {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.form-group.column {
  flex-direction: column;
}

.form-group.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.gap-sm > * {
  margin-right: 8px;
  margin-bottom: 8px;
}

.gap-md > * {
  margin-right: 16px;
  margin-bottom: 16px;
}

.gap-lg > * {
  margin-right: 24px;
  margin-bottom: 24px;
}

.form-group.row > *:last-child {
  margin-right: 0;
}
